# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Development\ano_pred_cvpr2018\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
